/* General */
body {
  background-color: #c9b2a7;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

header img {
  flex-direction: column;
  height: 50px;
}


/* Contenedor principal */
.container {
  max-width: 900px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Título */
h1 {
  text-align: center;
  color: #4c321c;
  margin-bottom: 30px;
}

/* Formulario */
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-bottom: 30px;
}

input, select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  grid-column: span 2;
  padding: 12px;
  background-color: #427b2c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #233f17;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #5a3e20;
  color: white;
}

tr:hover {
  background-color: #f0f7f7;
}

/* Botones en tabla */
button.edit-btn {
  background-color: #3182ce;
  margin-right: 5px;
}

button.edit-btn:hover {
  background-color: #2b6cb0;
}

button.delete-btn {
  background-color: #e53e3e;
}

button.delete-btn:hover {
  background-color: #9b2c2c;
}
